<h2>{{ translate('score.calculateSingle') }}</h2>

<form [formGroup]="scoreForm" (ngSubmit)="onSubmit()" *ngIf="dimensions$ | async as dimensions">
  
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{ translate('score.name') }}</mat-label>
    <input matInput formControlName="name" [placeholder]="translate('score.placeholder')">
  </mat-form-field>

  <input type="hidden" formControlName="evaluationId">
  <p>{{ translate('score.currentEvaluationId') }}: {{ evaluationId }}</p>

  <ng-container *ngFor="let dim of dimensions">
    <div class="dimension-group" *ngIf="scoreForm.get(dim.id)">
      <h3>{{ getTranslatedDimensionName(dim.id) }}</h3>
      <div [formGroupName]="dim.id">
        <ng-container *ngFor="let crit of dim.criteria">
          <div class="criterion-group" *ngIf="scoreForm.get(dim.id)?.get(crit.id)">
            <h4>{{ getTranslatedCriterionInfo(crit.id).name }} <small *ngIf="getTranslatedCriterionInfo(crit.id).description">({{ getTranslatedCriterionInfo(crit.id).description }})</small></h4>
            <div class="score-options">
              <label *ngFor="let score of [1, 2, 3, 4, 5]" class="score-label">
                <input type="radio" [formControlName]="crit.id" [value]="score">
                <span>{{ getScoreLabel(dim.id, crit.id, score) }}</span>
              </label>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <button mat-raised-button color="primary" type="submit" [disabled]="!scoreForm.valid" class="save-button">
    <mat-icon>save</mat-icon>
    {{ translate('common.save') }}
  </button>
  
  <!-- Success Message -->
  <div *ngIf="showSuccessMessage" class="success-message">
    <mat-icon class="success-icon">check_circle</mat-icon>
    <span>{{ translate('common.dataSaved') }} {{ evaluationId }}</span>
  </div>
</form>
