<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" class="sidenav">
    <mat-toolbar color="primary" class="sidenav-header">
      <mat-icon>euro_symbol</mat-icon>
      <span class="sidenav-title">Pricing Simulator</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/manage" routerLinkActive="active-link" (click)="isMobile ? drawer.close() : null">
        <mat-icon matListIcon>list_alt</mat-icon>
        <span>{{ translate('nav.overview') }}</span>
      </a>
      <a mat-list-item routerLink="/input" routerLinkActive="active-link" (click)="isMobile ? drawer.close() : null">
        <mat-icon matListIcon>add_circle</mat-icon>
        <span>{{ translate('nav.newScore') }}</span>
      </a>
      <a mat-list-item routerLink="/properties" routerLinkActive="active-link" (click)="isMobile ? drawer.close() : null">
        <mat-icon matListIcon>settings</mat-icon>
        <span>{{ translate('nav.scoreSettings') }}</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/pricing" routerLinkActive="active-link" (click)="isMobile ? drawer.close() : null">
        <mat-icon matListIcon>euro_symbol</mat-icon>
        <span>{{ translate('nav.priceSimulation') }}</span>
      </a>
      <a mat-list-item routerLink="/series-results" routerLinkActive="active-link" (click)="isMobile ? drawer.close() : null">
        <mat-icon matListIcon>bar_chart</mat-icon>
        <span>{{ translate('nav.simulationResults') }}</span>
      </a>
      <a mat-list-item routerLink="/pricing-strategy" routerLinkActive="active-link" (click)="isMobile ? drawer.close() : null">
        <mat-icon matListIcon>trending_up</mat-icon>
        <span>{{ translate('nav.pricingStrategy') }}</span>
      </a>
      
      <!-- Language Selection -->
      <mat-divider></mat-divider>
      <div class="language-selection-container">
        <mat-icon matListIcon>language</mat-icon>
        <span class="language-label">{{ translate('nav.language') }}</span>
        <mat-select [value]="currentLanguage" (selectionChange)="changeLanguage($event.value)" class="language-select">
          <mat-option value="de">{{ translate('nav.german') }}</mat-option>
          <mat-option value="en">{{ translate('nav.english') }}</mat-option>
        </mat-select>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mobile-toolbar" *ngIf="isMobile">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="main-title">Pricing Simulator</span>
    </mat-toolbar>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


