<mat-toolbar color="primary">
  <span>Pricing Score App</span>
  <span class="toolbar-spacer"></span>

  <!-- Einzelscore Berechnung Dropdown -->
  <button mat-button [matMenuTriggerFor]="einzelscoreMenu">Einzelscore Berechnung</button>
  <mat-menu #einzelscoreMenu="matMenu">
    <button mat-menu-item routerLink="/manage" routerLinkActive="active-link">Übersicht berechnete Scores</button>
    <button mat-menu-item routerLink="/input" routerLinkActive="active-link">Neuen Score Berechnen</button>
    <button mat-menu-item routerLink="/properties" routerLinkActive="active-link">Score Einstellungen</button>
  </mat-menu>

  <!-- Preissimulation Dropdown -->
  <button mat-button [matMenuTriggerFor]="preissimulationMenu">Preissimulation</button>
  <mat-menu #preissimulationMenu="matMenu">
    <button mat-menu-item routerLink="/pricing" routerLinkActive="active-link">Preissimulation Input</button>
    <button mat-menu-item routerLink="/series-results" routerLinkActive="active-link">Preissimulation Ergebnisse</button>
  </mat-menu>
</mat-toolbar>

<div class="content-container">
  <router-outlet></router-outlet>
</div>


