<h2>{{ translate('output.title') }}</h2>

<div *ngIf="scoreDetails$ | async as details; else loadingOrError">
  <mat-card class="score-card mat-elevation-z4" *ngIf="details !== null">
    <mat-card-header>
      <mat-card-title>{{ translate('output.evaluationForId') }}: {{ details.result.evaluationId }}</mat-card-title>
      <mat-card-subtitle>{{ translate('output.totalScore') }}: {{ details.result.totalScore }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let dim of details.dimensions" class="dimension-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ getTranslatedDimensionName(dim.name) }}</mat-panel-title>
            <mat-panel-description>{{ translate('output.score') }}: {{ dim.dimensionScore }}</mat-panel-description>
          </mat-expansion-panel-header>
          
          <mat-list>
            <mat-list-item *ngFor="let crit of dim.criteria">
              <div matListItemTitle>{{ getTranslatedCriterionName(crit.name) }}</div>
              <div matListItemLine>{{ translate('output.score') }}: {{ crit.scoreValue }} - {{ crit.scoreLabel }}</div>
              <div matListItemLine class="criterion-description">{{ getTranslatedCriterionDescription(crit.name) }}</div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="score-card mat-elevation-z4" *ngIf="details === null">
    <mat-card-content>
      <div class="no-data-message">
        <mat-icon color="warn" class="large-icon">info</mat-icon>
        <h3>{{ translate('output.noDataFound') }}</h3>
        <p>{{ translate('output.noDataMessage') }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loadingOrError>
  <mat-card>
    <mat-card-content>
      <div class="loading-indicator">
        <mat-spinner diameter="40"></mat-spinner>
        <p>{{ translate('output.loadingData') }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
